extends layout 
block content 

    h1(class='display-6')=title 
    if item != undefined
        if item.image_secure_url != undefined
            img.img-fluid.rounded(src=item.image_secure_url)
        ol(class='list-unstyled ms-4')
            li Price: #{item.price} 
            li Available Quantity: #{item.quantity} 
            li Category: 
                a(class='no-underline-links' href=item.category.url)=item.category.name 
    else 
        p(class='lead') Opsies! There is no information available for this item. 

    div
        a.me-5(href='/update'+item.url)
            button.btn.btn-primary.me-2 Update
        //- a(href='/delete'+item.url)
        button.btn.btn-danger(type='button', data-bs-toggle='modal', data-bs-target='#deleteModal') Delete
    if exists
        p.lead.text-danger This item already exists
    
    .modal.fade#deleteModal(tabindex='-1', aria-labelledby='deleteModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title#deleteModalLabel Delete Item
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    p Are you sure you want to delete this item?
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                    //- Form for deleting the item
                    form(action=`/delete${item.url}`, method='POST')
                        button.btn.btn-danger(type='submit') Delete